@import url('https://fonts.googleapis.com/css2?family=Figtree');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Figtree';
}
body{
    background-color: hsl(47, 88%, 63%);
}