@import url('https://fonts.googleapis.com/css2?family=Figtree');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Figtree';
}
body{
    background-color: hsl(47, 88%, 63%);
}
.conteudo{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 20px;
    border-color: #000;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 1);
}
.card:hover{
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
}
.card img{
    border-radius: 10px;
    width: 85%;
}
.tag{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 25px;
    border-radius: 5px;
}
.tag span{
    font-size: 13px;
}
.published span{
    font-size: 13px;
}
.card-body a{
    text-decoration: none;
    font-size: larger;
    color: #000;
}
.card-body a:hover{
    color: hsl(47, 88%, 63%);
}
.card-text{
    color: hsl(0, 0%, 50%);
}
.author{
    display: flex;
    align-items: center;
}
.img-author img{
    width: 70%;
}

@media only screen and (max-width: 600px){
    .conteudo{
        margin-top: 35%;
    }
    .card{
        width: 100%;
    }
}